@import "../node_modules/bootstrap/scss/functions";

$offcanvas-horizontal-width: min(80vw, 400px) !important;
$table-th-font-weight: 500;

@import "../node_modules/bootstrap/scss/variables";

:root {
  --bs-body-font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    --bs-body-font-family: InterVariable, sans-serif;
  }
}

.navbar-blur {
  background: rgba(255, 255, 255, 0.2);
}

.navbar-blur::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit; /* Inherit the background color from the navbar */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Blur effect */
  z-index: -1; /* Behind the content of the navbar */
}

//FONT SIZE
.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
  font-weight: 500;
}

.offcanvas {
  @media (max-width: 430px) {
    --#{$prefix}offcanvas-width: #{$offcanvas-horizontal-width};
  }
}

th {
  font-weight: $table-th-font-weight;
  width: 30%;
}

#about {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.name {
  font-size: 3rem;
}

.bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.bio-width {
  max-width: 400px;
}

.profile-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image-width {
  max-width: 75%;
}

@media (max-width: 992px) {
  .image-width {
    max-width: 60%;
  }

  .bio-width {
    max-width: 80%;
  }

  .profile-image {
    justify-content: center;
    align-items: center;
  }
}

#btn-to-work {
  display: flex;
  justify-content: center;
}

.skills {
  font-size: 0.75rem;
  font-weight: 500;
  color: darkgray;
  display: inline-block;
  border: 1px solid darkgray;
  border-radius: 9999px;
  padding: 0.23rem 0.75rem;
  cursor: default;
  margin-bottom: 5px;
}

.skills:hover {
  color: white;
  background-color: darkgray;
}

.icon-link {
  text-decoration: none;
  color: black;
}

i {
  font-size: 14px;
  line-height: normal;
}

.icon-link:hover i {
  transform: translate(5px);
  transition: transform 0.2s;
  transition-timing-function: ease-in-out;
  color: blue;
}

.icon-link:hover {
  color: blue;
  text-decoration: underline;
}

h4 {
  display: flex;
  justify-content: center;
}

.accordion {
  max-width: 700px;
}

@media (max-width: 567px) {
  .accordion {
    max-width: 100%;
  }
}

#scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  transition: opacity 300ms;
  font-size: 2rem;
  cursor: pointer;
}

.copyright {
  border-top: 1px groove black;
}
