// #bio {
//   text-align: left;
// }

// .scroll {
//   text-align: center;
// }
.checkoutmywork {
  display: flex;
  justify-content: center;
}

.offcanvas {
  width: 200px;
}

.accordion {
  width: 80%;
}

#content {
  display: flex;
  justify-content: center;
}
