// #bio {
//   text-align: left;
// }

// .scroll {
//   text-align: center;
// }

.name {
  font-size: 3rem;
}

.bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.bio-width {
  max-width: 400px;
}

@media (max-width: 567px) {
  .bio-width {
    max-width: 90%;
  }
}

.profile-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 567px) {
  .profile-image {
    justify-content: center;
    align-items: center;
  }
}

.image-width {
  max-width: 75%;
}

.btn-work {
  display: flex;
  justify-content: center;
}

.accordion {
  max-width: 700px;
}

@media (max-width: 567px) {
  .accordion {
    max-width: 100%;
  }
}

.copyright {
  border-top: 1px groove black;
}
