.contact {
  font-size: $text-sm;
}

.contact-text {
  line-height: 1.7;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid rgba($text-color, 0.5);
}

.contact-info {
  margin-top: 2.4rem;
  display: grid;
  align-items: start;
  justify-items: start;
  grid-template-columns: max-content 1fr;
  row-gap: 3.2rem;
  column-gap: 2rem;

  .subheading {
    color: $text-color;
    font-size: $text-sm;
  }
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-item {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.social-link {
  &,
  &:link,
  &:visited {
    font-size: 1.5rem;
  }
}
