.accordion {
  --bs-accordion-active-bg: #fff;
  --bs-accordion-border-color: none;
  --bs-accordion-active-color: #{$text-color-light};
  --bs-accordion-btn-color: #{$text-color-light};
  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);

  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &-item {
    border-top: #{$border-default};
  }

  &-button {
    padding: 1.6rem 2rem;

    display: grid;
    grid-template-columns: 9fr 1fr;
    row-gap: 0.8rem;

    @include media-breakpoint-up(md) {
      display: flex;
      gap: 0;
    }

    &:focus {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $focus-box-shadow;
    }

    &::after {
      grid-row: 1 / span 2;
    }

    &.placeholder-glow {
      gap: 2.4rem;
    }
  }

  &-body {
    display: flex;
    align-items: center;
    padding: 1.6rem 2rem;
    font-size: $text-sm;

    @include media-breakpoint-up(sm) {
      font-size: $text-sm;
    }
  }
}

.job-title {
  font-size: $text-sm;
  font-weight: map-get($font-weights, medium);
  grid-column: span 1;
  grid-row: 2 / span 1;

  @include media-breakpoint-up(sm) {
    font-size: $text-defaut;
  }
}

.duration {
  font-size: $text-xs;
  color: #4e4e4e;

  grid-column: span 1;
  grid-row: 1 / span 1;
}

.experience-list {
  max-width: 55rem;
  padding-left: 1.6rem;

  li:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}
