.intro {
  max-width: 120rem;
  padding: 4.8rem 2.4rem;
  margin: 0 auto;

  color: inherit;

  @include media-breakpoint-up(sm) {
    padding: 8rem 6.4rem;
  }
}

.intro-heading {
  &-primary {
    margin-bottom: 0.5rem;
    font-size: 3.6rem;
    text-transform: uppercase;
    font-weight: map-get($font-weights, medium);

    @include media-breakpoint-up(sm) {
      font-size: $text-header;
    }
  }

  &-secondary {
    margin-bottom: 3.6rem;
    font-size: $text-lg;
  }

  &-tertiary {
    margin-bottom: 1.2rem;
    font-weight: map-get($font-weights, regular);
    font-size: $text-md;
    line-height: 1.4;
  }
}

.intro-text {
  max-width: 80rem;
  margin-bottom: 4.8rem;
  font-size: $text-sm;
  line-height: 1.5;
}

.highlight {
  padding: 0 0.5rem;
  border-radius: $border-radius;

  &-0 {
    background: $color-accent-1;
  }

  &-1 {
    background: $color-accent-2;
  }
}

.btn-more {
  font-size: $text-sm;
  font-weight: map-get($font-weights, medium);
  text-transform: uppercase;
}
