.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 144rem;
  height: calc(100dvh - 4.5rem);
  padding: 8rem 2.4rem;
  margin: 0 auto;
  font-size: 2.8rem;

  @media screen and (min-width: 380px) {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 3.2rem;
  }

  @media screen and (min-width: 490px) {
    font-size: 4rem;
  }

  @media screen and (min-width: 576px) {
    padding-left: 6.4rem;
    padding-right: 6.4rem;
  }

  @media screen and (min-width: 760px) {
    font-size: 4.8rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: $text-header;
  }

  &-paragraph {
    &-name {
      margin-bottom: 0;
    }

    &-summary {
      margin-bottom: 0;
      line-height: 1.4;
      max-width: 120rem;
    }
  }

  &-highlight {
    padding: 0 1rem;
    border-radius: $border-radius;

    &-0 {
      background: $color-accent-1;
    }

    &-1 {
      background: $color-accent-2;
    }

    &-2 {
      background: $color-accent-3;
    }

    &-3 {
      background: $color-accent-4;
    }
  }
}
