.card {
  --bs-card-border-radius: 0;
  --bs-card-height: 100%;

  &-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 1.6rem;
  }

  &-text {
    font-size: $text-sm;
    margin-bottom: auto;
  }
}

.card-table {
  width: 100%;
  font-size: $text-sm;
  border-collapse: collapse;

  & th,
  & td {
    padding: 0.6rem 0;
    border-bottom: 1px solid rgba(34, 34, 34, 0.2);
    border-spacing: 0;
    vertical-align: top;
  }

  & tr:last-child th,
  & tr:last-child td {
    border-bottom: none;
  }

  & th {
    display: none;
    width: 40%;
    font-weight: map-get($font-weights, medium);

    @include media-breakpoint-up(lg) {
      display: table-cell;
    }
  }
}

.lazy-img {
  filter: blur(0.5px);
}
