.subheading {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 0.3rem;
  font-size: $text-xs;
  font-weight: map-get($font-weights, bold);
  color: $color-accent-1;
}

.heading-title {
  font-size: 1.8rem;
  font-weight: map-get($font-weights, medium);
  margin: 0;
}
