.section {
  display: flex;
  justify-content: center;
  gap: 0;
  padding: 4.8rem 2.4rem;
  transition: opacity 0.6s cubic-bezier(0.694, 0, 0.335, 1);

  @include media-breakpoint-up(sm) {
    padding: 7rem 6.4rem;
  }

  @include media-breakpoint-up(xl) {
    gap: 4.8rem;
  }
}

.section-heading {
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: left;
  font-size: $text-sm;
  font-weight: map-get($font-weights, bold);
  letter-spacing: 3px;

  @include media-breakpoint-up(lg) {
    text-align: right;
    padding-right: 1.6rem;
    margin-bottom: 0;
  }

  @include media-breakpoint-up(xl) {
    padding-right: 0;
  }
}

.about .section-heading,
.contact .section-heading {
  @include media-breakpoint-up(lg) {
    margin-top: 0.4rem;
  }
}

.section-content {
  max-width: 80rem;
}

.section-hidden {
  opacity: 0;
}
