$text-defaut: 16px;
$text-xs: 12px;
$text-sm: 14px;
$text-md: 20px;
$text-lg: 24px;
$text-header: 62px;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 600,
);
$text-color: #222222;
$color-btn: #262626;
$color-btn-text: #f7f7f7;
$color-primary: rgba(250, 243, 224, 0.886);
$color-secondary: #f5e6c5;
$color-accent-1: #fe6e1f;
$color-accent-2: #fbbd1d;
$color-accent-3: #9fc4e8;
$border-default: 1px solid #222222;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-body-font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}
@supports (font-variation-settings: normal) {
  :root {
    --bs-body-font-family: InterVariable, sans-serif;
  }
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

body {
  overflow-x: hidden;
  background: $color-primary;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}

.heading {
  font-size: 16px;
  font-weight: map-get($font-weights, bold);
  text-align: right;
  letter-spacing: 3px;

  @media (max-width: 992px) {
    margin-bottom: 20px;
    padding-right: 0;
    text-align: left;
  }
}

.navbar {
  border-bottom: $border-default;
  background: #ffffff;
  font-size: $text-sm;
  letter-spacing: 1px;
}

.navbar-brand {
  --bs-navbar-brand-font-size: $text-sm;
  font-weight: map-get($font-weights, medium);
}

.navbar-toggler {
  border-color: transparent;
}

.btn-navbar-toggler {
  font-size: 1.8rem;
  color: $text-color;
}

.navbar-toggler:hover .btn-navbar-toggler {
  color: $color-accent-1;
}

.offcanvas {
  @media (max-width: 430px) {
    --bs-offcanvas-width: min(80vw, 400px);
  }
}

.offcanvas-title {
  font-size: $text-sm;
  font-weight: map-get($font-weights, medium);
}

.navbar-nav {
  --bs-nav-link-hover-color: #{$color-accent-1};
}

.nav-link {
  color: #7e7d7d;

  @media (max-width: 576px) {
    --bs-nav-link-padding-y: 0.8rem;
  }
}

.nav-link.active {
  font-weight: map-get($font-weights, medium);
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1440px;
  height: calc(100vh - 45px);
  margin: 0 auto;
  padding: 80px 128px 80px 4rem;
  overflow: hidden;
  font-size: $text-header;

  @media (max-width: 1200px) {
    font-size: 48px;
  }

  @media (max-width: 760px) {
    font-size: 44px;
  }

  @media (max-width: 576px) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  @media (max-width: 490px) {
    font-size: 36px;
  }

  @media (max-width: 380px) {
    padding: 70px 1.5rem;
    font-size: 30px;
  }
}

.intro-summary {
  line-height: 1.5;
  max-width: 1200px;
}

.intro-summary strong {
  padding: 2px 20px 9px 20px;
  margin-bottom: 10px;
  border-radius: 100px;

  @media (max-width: 576px) {
    padding: 2px 10px 5px 10px;
  }
}

.intro-summary .intro-highlight-1 {
  background: $color-accent-1;
}

.intro-summary .intro-highlight-2 {
  background: $color-accent-2;
}

.intro-summary .intro-highlight-3 {
  background: $color-accent-3;
}

.btn-know-more {
  margin-top: 48px;
  padding: 0 8px;
  box-shadow: inset 0 -3px 0 $color-btn;
  transition: all 0.2s ease-in-out;
  border: none;
  text-align: center;
  font-size: $text-lg;
  font-weight: map-get($font-weights, medium);
  background: none;
  outline: none;
  color: $text-color;

  &:hover {
    box-shadow: inset 0 -50px 0 $color-btn;
    color: $color-btn-text;
  }

  &:focus {
    box-shadow: inset 0 -3px 0 $color-btn !important;
    color: $text-color;
  }

  @media (max-width: 930px) {
    font-size: $text-md;
  }

  @media (max-width: 380px) {
    font-size: $text-sm;
    box-shadow: inset 0 -2px 0 $color-btn;
    padding: 1px 3px;

    &:focus {
      box-shadow: inset 0 -2px 0 $color-btn !important;
    }
  }
}

#about {
  padding-top: 144px;
  transition: transform 1s, opacity 1s;

  @media (max-width: 576px) {
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  }
}

.about-paragraph {
  line-height: 1.7;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-paragraph p {
  margin-bottom: 0;
}

#skills {
  @media (max-width: 576px) {
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  }
}

.skills-box {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  @media (max-width: 768px) {
    gap: 10px;
  }
}

.skills-list {
  padding: 5px 10px;
  border-radius: 9999px;
  font-size: $text-sm;
  font-weight: map-get($font-weights, bold);

  border: 1px solid $color-accent-1;
  color: $color-accent-1;
}

#projects {
  transition: transform 1s, opacity 1s;

  @media (max-width: 576px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.card-subheading {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: $text-xs;
  font-weight: map-get($font-weights, bold);
  color: $color-accent-1;
}

.card {
  border-color: $text-color;
  --bs-card-height: 100%;
}

.card-title {
  font-size: $text-md;
  font-weight: map-get($font-weights, medium);
  margin: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-description {
  font-size: $text-sm;
  margin-bottom: auto;
}

.card-info {
  width: 100%;
  font-size: $text-sm;
}

.card-info,
th,
td {
  border-bottom: 1px solid rgba(34, 34, 34, 0.4);
}

th,
td {
  padding: 4px 0;
}

th {
  width: 40%;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.project-skills li {
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font-size: $text-xs;
  font-weight: 600;
  background-color: rgba(255, 152, 95, 0.1);
  color: $color-accent-1;
  cursor: default;
}

.btn--link:link,
.btn--link:visited {
  color: $text-color;
  text-decoration: none;
  font-weight: map-get($font-weights, medium);
}

.btn--link:hover,
.btn--link:active {
  text-decoration: underline;
  text-decoration-color: $color-accent-1;
  color: $color-accent-1 !important;
}

.arrow-to-link {
  font-size: 14px;
  line-height: normal;
  font-weight: map-get($font-weights, medium);
}

.btn--modal {
  border: none;
  background: none;
  font-weight: map-get($font-weights, medium);
}

.modal-header {
  align-items: start;
  padding: 16px 0;
  margin: 0 16px;
}

.modal-title {
  margin-bottom: 32px;
}

.btn-container {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.btn-problem {
  background: none;
  border: 1px solid #ced4da;
  color: #495057;
}

.btn--active {
  background: $color-accent-1;
  color: $color-btn-text;
  border: 1px solid $color-accent-1;
}

#experience {
  transition: transform 1s, opacity 1s;

  @media (max-width: 576px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.accordion {
  --bs-accordion-active-bg: #fff;
  --bs-accordion-border-color: none;
  --bs-accordion-active-color: #{$text-color};
  --bs-accordion-btn-color: #{$text-color};
  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.accordion-item {
  border-top: #{$border-default};
}

.job-title {
  font-weight: map-get($font-weights, medium);

  @media (max-width: 576px) {
    font-size: $text-sm;
  }
}

.duration {
  font-size: $text-sm;

  @media (max-width: 576px) {
    display: none;
  }
}

.accordion-body {
  display: flex;
  align-items: center;
  font-size: $text-sm;

  @media (max-width: 576px) {
    font-size: $text-sm;
  }
}

.expeirence-responsibilities {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 550px;
  padding-left: 16px;
}

.btn--resume {
  margin-top: 30px;
  padding-left: 30px;
  font-size: $text-md;
}

#contact {
  display: block;
  padding: 3rem 4rem;
  border-top: $border-default;
  border-bottom: $border-default;
  background: rgb(255, 255, 255);
  text-decoration: none;
  color: $text-color;

  @media (max-width: 576px) {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

.contact-box {
  width: 60%;

  @media (max-width: 576px) {
    width: 80%;
  }
}

.contact-email {
  margin-bottom: 1rem;
  font-size: $text-lg;
  font-weight: map-get($font-weights, medium);

  @media (max-width: 576px) {
    font-size: $text-md;
  }
}

.contact-text {
  font-size: $text-md;

  @media (max-width: 576px) {
    font-size: $text-sm;
  }
}

.contact-arrow {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2rem;
}

footer {
  background: $color-secondary;
  padding: 3rem 4rem;

  @media (max-width: 576px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.footer-name {
  font-size: $text-md;
  font-weight: map-get($font-weights, medium);
}

.footer-text {
  font-size: $text-sm;

  @media (min-width: 768px) {
    width: 70%;
  }
}

.channel-category {
  font-weight: map-get($font-weights, bold);
}

.footer-channels {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  font-size: $text-sm;

  @media (min-width: 768px) {
    text-align: right;
  }
}

.btn--social:link,
.btn--social:visited {
  text-decoration: none;
  color: $text-color;
}

.btn--social:hover,
.btn--social:active {
  color: $color-accent-1 !important;
}

.footer-copyright {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: $border-default;
  font-size: $text-xs;
}

.btn-to-top {
  position: fixed;
  width: 2rem;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  transition: opacity 300ms;
  cursor: pointer;
}

.section {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 96px 4rem;

  @media (max-width: 992px) {
    gap: 0;
  }
}

.section-content {
  max-width: 800px;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}
